@charset "UTF-8";
/* CSS Document */

main{
  padding: 10px;
}

.page-title{
  padding: 10px;
}

#login-form{
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid var(--black);
}

#login-form h2{
  text-align: center;
}

#login-form label, #login-form input{
  display: block;
  width: 100%;
}

.login-label{
  margin-bottom: 5px;
}

.login-input{
  margin-bottom: 10px;
  padding: 5px 3px;
}

.submit-btn-container{
  text-align: center;
}

.submit-btn{
  padding: 5px 20px;
  background-color: rgb(222, 222, 222);
}

#logout-btn-container{
  text-align: center;
}

#logout-btn{
  padding: 10px 20px;
  font-size: 1.5em;
}

.error-container{
  color: red;
}